header {
    background-color: black;
    width: 100%;
}

.visibilityNav {
    display: none;
}

.visibilityBurguer {
    display: block;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 22px;
    margin-bottom: 20px;
}

.logoPokemon{
    width: 250px;
}

.liBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
    margin-right: 15px;
}

.linkStyle {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.linkStyle:hover {
    color: yellow;
    transition: all 0.4s;
}

.navMobile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divMobile{
    width: 95%;
    margin-bottom: 20px;
}

.divMobileVisibility {
    display: none;
}

.liMobile {
    width: 100%;
    /* border: 1px solid yellow; */
    padding: 8px;
}

/* .liMobile:hover {
    background-color: #4682B4;
    transition: all 0.4s;
} */


@media(min-width: 768px) {
    .visibilityNav {
        display: block;
    }

    .visibilityBurguer {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    .linkStyle{
        font-size: 24px;
    }

}

@media(min-width: 1200px){
    .linkStyle{
        font-size: 28px;
    }

    .logoPokemon{
        width: 350px;
    }
}