.notFoundBox {
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    /* background-color: rgba(255, 255, 0, 0.3);
    min-height: 100vh; */
}

.notFoundBox h1 {
    position: absolute;
    top: 150px;
    left: 18px;
}

.notFoundBox h3 {
    position: absolute;
    top: 200px;
    left: 50px;
}

.imgStop {
    width: 60%;
}

.notFoundBox img {
    margin-top: 250px;
}

@media (min-width: 768px) {
    .notFoundBox h1 {
        font-size: 40px;
        left: 150px;
    }
    
    .notFoundBox h3 {
        font-size: 28px;
        top: 220px;
        left: 230px;
    }
    .imgStop {
        width: 40%;
    }
    
    .notFoundBox img {
        margin-top: 280px;
    }
}

@media (min-width: 1200px) {
    .notFoundBox h1 {
        left: 360px;
    }
    
    .notFoundBox h3 {
        left: 440px;
    }
    .imgStop {
        width: 30%;
    }
}

@media (min-width: 1920px) {
    .notFoundBox h1 {
        left: 710px;
    }
    
    .notFoundBox h3 {
        left: 790px;
    }
    .imgStop {
        width: 20%;
    }
}