.paginationStyle {
  display: none;
}

.paginationMobile {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optionsMobile {
  width: 100%;
  padding: 15px;
  background: rgba(255, 0, 0, 0.407);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  transition: all 3s;
}

.optionsMobile li {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}

.optionsMobile li select {
  width: 80px;
  border-radius: 5px;
  text-align: center;
}

.buttonsMobileBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.buttonMobile {
  width: 100px;
  border: 1px solid #dc143cb2;
  color: #dc143c;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px rgba(220, 20, 60, 0.75);
}

.visibilityMenu {
  display: none;
}

/* Pokebola */

.pokebola {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 1s;
}

.pokebola::before {
  content: "";
  position: absolute;
  background: #ff1c1c;
  width: 100%;
  height: 50%;
}

.pokebola::after {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  width: 100%;
  height: 50%;
  background: #fff;
  border-top: 3px solid;
}

.pokebola2 {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  transform: rotate(180deg);
  transition: all 1s;
}

.pokebola2::before {
  content: "";
  position: absolute;
  background: #ff1c1c;
  width: 100%;
  height: 50%;
}

.pokebola2::after {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  width: 100%;
  height: 50%;
  background: #fff;
  border-top: 3px solid;
}

.detailPokebola {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 50%;
  top: calc(50% - 1px - 4px);
  left: calc(50% - 1px - 4px);
  z-index: 10;
  background: #fff;
}

.paginationDesktop{
  display: none;
}

/* .searchBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
} */

.inputSearch{
  padding: 2px;
  border-radius: 5px;
  color: #dc143c;
  border: 1px solid #dc143cb2;
  margin-left: 3px;
}

.iSearch{
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

@media (min-width: 768px) {
  .paginationMobile {
    display: none;
  }

  .paginationDesktop {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-evenly;
    align-items: center; */
    background: 	rgba(220, 20, 60, 0.781);
    border-radius: 5px;
    color: white;
    font-size: 20px;
  }

  .paginationDesktop select {
    width: 60px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #dc143cb2;
  }

  .rowOne, .rowTwo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .rowOne{
    justify-content: center;
    align-items: baseline;
  }
  .rowTwo{
    justify-content: space-evenly;
    align-items: center;
  }

  .searchBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  /* .inputSearch{
    padding: 2px;
    border-radius: 5px;
    color: #dc143c;
    border: 1px solid #dc143cb2;
    margin-left: 3px;
  }

  .iSearch{
    padding: 5px;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
  } */

  .buttonsDesktopBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
  }

  .buttonsDesktop{
    width: 120px;
    border-radius: 5px;
    color: #dc143c;
    border: 1px solid #dc143cb2;
  }
  .buttonsDesktop:hover{
    font-weight: bold;
  }
}

@media (min-width: 1200px){
  .paginationDesktop{
    font-size: 24px;
  }

  .inputSearch{
    padding: 1px;
  }

  .iSearch{
    padding: 8px;
  }
}
