.imgUser {
    margin: 15px 0px;
    width: 150px;
    border: 1px solid black;
}

.buttonCatch {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #32CD32;
    padding: 5px;
    width: 70%;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.buttonCatch:hover {
    color: black;
    font-weight: bold;
    border: 3px solid black;
    transition: all 0.1s;
}

.buttonUpdate {
    border: 2px solid #4682B4;
    border-radius: 20px;
    background-color: rgb(255, 208, 0);
    font-weight: 500;
    color: #4682B4;
    padding: 5px;
    width: 70%;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
}

.buttonUpdate:hover {
    font-weight: bold;
    border: 3px solid #4682B4;
    transition: all 0.1s;
}

.buttonLogout {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #DC143C;
    color: black;
    padding: 5px;
    width: 70%;
}

.buttonLogout:hover {
    font-weight: bold;
    border: 3px solid black;
    transition: all 0.1s;
}

.cardStyle {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin:auto;
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

@media(min-width: 768px) {
    .imgUser {
        width: 180px;
    }

    .buttonLogout, .buttonUpdate, .buttonCatch{
        width: 60%;
        font-size: 18px;
    }

    .cardStyle{
        width: 70%;
    }

    .cardStyle h2{
        font-size: 32px;
    }
    
    .cardStyle p{
        font-size: 20px;
    }
}

@media(min-width: 1200px) {

    .cardStyle{
        width: 55%;
    }

    .cardStyle h2{
        font-size: 36px;
    }
    
    .cardStyle p{
        font-size: 24px;
    }

    .buttonLogout, .buttonUpdate, .buttonCatch{
        width: 50%;
    }
}