.imgUser {
    margin: 15px 0px;
    width: 150px;
}

.buttonUpdate {
    border: 2px solid #4682B4;
    border-radius: 20px;
    background-color: rgb(255, 208, 0);
    color: #4682B4;
    padding: 5px;
    width: 200px;
    margin-bottom: 15px;
}

.buttonUpdate:hover {
    font-weight: bold;
    border: 3px solid #4682B4;
    transition: all 0.1s;
}

.buttonLogout {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #DC143C;
    color: black;
    padding: 5px;
    width: 200px;
}

.buttonLogout:hover {
    font-weight: bold;
    border: 3px solid black;
    transition: all 0.1s;
}

@media(min-width: 768px) {
    .imgUser {
        width: 180px;
    }
}