@import url('http://fonts.cdnfonts.com/css/pokemon-solid');

.welcome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.welcome h1 {
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 40px;
    -webkit-text-stroke: 1px #1b53ba;
}

.pikachuGif {
    width: 200px;
    text-align: center;
    align-items: center;
}

/* SLIDER */

/* .slider_container{
    margin: 0 auto;
    overflow-x: hidden;
}

.slider{
    display: flex;
}

.item{
    height: 400px;
    max-width: 30rem;
    padding: 2rem;
}

.item img {
    height: 200px;
    width: 300px;
    pointer-events: none;
} */
/* FIN SLIDER */

/* Slider 2 */
.imgSlide{
    max-width: 100%;
    height: 200px;
}

.containerImgs{
   text-align: center;
}
/* Fin slider 2 */

@media(min-width: 768px) {
    .welcome h1 {
        font-size: 30px;
        -webkit-text-stroke: 2px #1b53ba;
    }
    
    .pikachuGif {
        width: 250px;
    }

    /* .item{
        height: 700px;
        max-width: 900px;
        padding: 4rem;
    }
    
    .item img {
        height: 400px;
        width: 600px;
        pointer-events: none;
    } */

    .imgSlide{
        max-width: 80%;
        height: 400px;
    }
}

@media(min-width: 1200px) {
    .welcome h1 {
        font-size: 40px;
    }
    
    .pikachuGif {
        width: 350px;
    }

    .imgSlide{
        max-width: 70%;
        height: 500px;
    }
}

@media(min-width: 1920px) {
    .imgSlide{
        max-width: 45%;
        height: 500px;
    }
}