.imageFormat{
    width: 50%;
    margin: auto;
}

h2{
    text-align: center;
}

.errorMsg {
    color: #dc1414;
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 768px) {
    .imageFormat{
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .imageFormat{
        width: 35%;
    }
}
