/* .pokeFondo{
    background-image: url("./img/blackFondo.jpg");
    background-size:cover;  
} */

main{
    padding-bottom: 50px;
    min-height: 100vh;
    background-image: url("./img/blackFondo.jpg");
    background-size:cover;  
}

.arrowUpContainer{
    position: relative;
    position: fixed;
    background: rgb(255, 208, 0);
    z-index: 1000000;
    bottom: 10%;
    left: 80%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 2px solid #4682B4;
    cursor: pointer;
}

.arrowUpContainer i {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 24px;
    font-weight: bold;
    color: #4682B4;
}

@media(min-width: 768px){
    .arrowUpContainer{
        width: 60px;
        height: 60px;
        left: 85%;
    }
    
    .arrowUpContainer i {
        font-size: 28px;
        right: 17px;
        top: 12px;
    }
}