.cardStyle {
  width: 250px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  /* background: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
  transition: all 300ms;
}

.cardStyle:hover {
  transform: translateY(-10px);
}

.cardStyle:hover .imgStyle img {
  transform: scale(1.1);
}

.imgStyle {
  width: 200px;
  margin: auto;
  border-bottom: 1px solid #4682b4;
}

.imgStyle img {
  transition: all 300ms;
}

.orderNamePokebola {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

/* Section Type */

.typeStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.typePoison,
.typeGrass,
.typeFire,
.typeWater,
.typeFlying,
.typeElectric,
.typeBug,
.typeNormal,
.typeGround,
.typeFairy,
.typeFighting,
.typePsychic,
.typeRock,
.typeSteel,
.typeIce,
.typeGhost,
.typeDragon,
.typeDark {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}

.typePoison,
.typeFire,
.typeWater,
.typeBug,
.typeFighting,
.typePsychic,
.typeRock,
.typeGhost,
.typeDragon,
.typeDark {
  color: white;
}

.typeFlying,
.typeElectric,
.typeNormal,
.typeGround,
.typeFairy,
.typeSteel,
.typeIce,
.typeGrass {
  color: black;
}

.typePoison {
  background-color: #b97fc9;
}

.typeGrass {
  background-color: #9bcc50;
}

.typeFire {
  background-color: orangered;
}

.typeWater {
  background-color: #4592c4;
}

.typeFlying {
  background: linear-gradient(
    90deg,
    rgba(189, 185, 184, 1) 48%,
    rgba(61, 199, 239, 1) 52%
  );
}

.typeElectric {
  background-color: yellow;
}

.typeBug {
  background-color: #729f3f;
}

.typeNormal {
  background-color: rgb(178, 178, 178);
}

.typeGround {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
}

.typeFairy {
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
}

.typeFighting {
  background-color: #d56723;
}

.typePsychic {
  background-color: #f366b9;
}

.typeRock {
  background-color: #a38c21;
}

.typeSteel {
  background-color: #9eb7b8;
}

.typeIce {
  background-color: #51c4e7;
}

.typeGhost {
  background-color: #7b62a3;
}

.typeDragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}

.typeDark {
  background-color: #707070;
}

/* Fin Section Type */

.buttonStyle {
  width: 100%;
  background-color: #4682b4;
  color: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
}

.buttonStyle:hover{
  background-color: #156fb8;
  font-size: 18px;
  transition: all 0.4s;
}

/* Pokebola */

.pokebola {
  position: relative;
  width: 30px;
  height: 30px;
  background: #DCDCDC;
  border: 3px solid black;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.pokebola::before {
  content: "";
  position: absolute;
  background: #DCDCDC;
  width: 100%;
  height: 50%;
}

.pokebola::after {
  content: ""; 
  position: absolute;
  top: calc(50% - 1.5px);
  width: 100%;
  height: 50%;
  background: #DCDCDC;
  border-top: 3px solid;
}

.detailPokebola {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 50%;
  top: calc(50% - 1px - 4px);
  left: calc(50% - 1px - 4px);
  z-index: 10;
  background:#DCDCDC;
}

.pokebola:hover {
  background: #fff;
  transition: all 300ms;
}
.pokebola:hover::before {
  background: #ff1c1c;
  transition: all 300ms;
}

.pokebola:hover::after{
  background: white;
  transition: all 300ms;
}

.pokebola:hover .detailPokebola{
  background:white;
  transition: all 300ms;
}

/* Efecto shake pokebola */
.pokebola:hover {
  cursor: pointer;
  -webkit-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  -moz-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  -o-animation: shake .1s;
  animation-iteration-count: 2;
  cursor: pointer;
  animation: shake .1s;
  animation-iteration-count: 2;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
}

@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: rotate(-5deg);
  }
  50% {
    -moz-transform: rotate(5deg);
  }
}

@-o-keyframes shake {
  0%,
  100% {
    -o-transform: rotate(-5deg);
  }
  50% {
    -o-transform: rotate(5deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
